@font-face {
    font-family: "Neue Haas Grotesk";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/nhg.woff2') format('woff2');
}

@font-face {
    font-family: "Romie";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/romie.woff2') format('woff2');
}

@font-face {
    font-family: "Romie";
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('/fonts/romie-italic.woff2') format('woff2');
}

html {
    --font-display: "Romie", serif;

    --font-text: "Neue Haas Grotesk", sans-serif;
    --container-max: 87.5rem;
    --content-max: 26.875rem;
    --color-text: hsl(0, 0%, 94%);
    --color-background: hsl(0, 0%, 1%);
    --color-background-blur: hsla(0, 0%, 1%, 80%);
    --color-ui-mid: hsl(0, 0%, 20%);
}

body {
    font-family: var(--font-text);
    overflow-x: hidden;
    padding-bottom: 10rem;
    color: var(--color-text);
    background-color: var(--color-background);

    scrollbar-gutter: stable both-edges;
}

a {
    color: inherit;
}

p {
    line-height: 1.3;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    line-height: 1.6;
}

input {
    margin-right: 1rem;

    accent-color: #333;
}

img {
    height: auto;
}

.main-center {
    display: grid;
    min-height: 100vh;
    place-content: center;
}

.header {
    line-height: 1;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1rem;
    justify-content: space-between;
    max-width: var(--container-max);
    margin: 0 auto;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-transform: uppercase;
}

.header a {
    text-decoration: none;

    text-underline-offset: 3px;
}

.header a:hover,
.header a:focus,
.header a:active {
    text-decoration: underline;
    opacity: 1;

}

.header time:before {
    padding-right: .5ch;
    content: "✷";
}

.header cite {
    font-style: normal;
    text-align: right;
}

.header cite a {
    white-space: nowrap;
    opacity: .8;
}

.title {
    font-family: var(--font-display);
    font-size: 13vw;
    font-weight: normal;
    line-height: .9;
    position: relative;
    z-index: 1;
    display: grid;
    overflow: hidden;
    place-content: center;
    width: 100vw;
    height: calc(100vh - 10rem);
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
}

.title--small {
    font-size: 7vw;
    height: calc(50vh - 10rem);
    min-height: max-content;
}

.title small,
.title em {
    display: block;
}

.title small {
    font-family: var(--font-text);
    font-size: max(1.5rem, .15em);
    margin-bottom: .75em;
}

.content {
    max-width: 26.875rem;
    margin: 0 auto 5rem;
    padding: 0 1rem;
    padding: 1.5rem;
    backdrop-filter: blur(2px);
    background-color: var(--color-background-blur);
}

.content ul {
    margin-top: 5rem;
}

.content p {
    margin-bottom: 1em;
}

li em {
    opacity: .8;
}

li em:before {
    padding-right: .5ch;
    padding-left: .5ch;
    content: "—";
}

.content label {
    cursor: crosshair;
}

.content label.checked {
    text-decoration: line-through;
}

input[type="checkbox"]:focus {
    outline: 1px solid currentColor;
}

.submission {
    display: grid;
    /* text-align: center; */
    /* place-items: center; */
    max-width: var(--content-max);
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.submission__label {
    font-size: .75rem;
    display: block;
    text-transform: uppercase;
}

.submission__input {
    width: 100%;
    margin-bottom: 1rem;
    padding: .25rem .5rem;
    color: inherit;
    border: none;
    border-bottom: 1px solid var(--color-ui-mid);
    background-color: transparent;
}

.submission__input:focus {
    border-bottom-color: currentColor;
    outline: 0;
}

.submission__action {
    font: inherit;
    justify-self: start;
    padding: .25rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
    color: inherit;
    border: 1px solid currentColor;
    border-radius: 0;
    background-color: transparent;
}

.submission__action:hover,
.submission__action:focus,
.submission__action:active {
    color: var(--color-background);
    border-color: var(--color-text);
    outline: 0;
    background-color: var(--color-text);
}

.images {
    --image-ratio: 435 / 580;
    --image-ratio-inv: 580 / 435;
    --image-size: clamp(100px, 30vw, 335px);
    --y-offset: calc(var(--image-size) * var(--image-ratio-inv) + 10vh);
}

.image {
    --overflow: 80px;
    position: absolute;
    z-index: -1;
    top: 0;
    width: var(--image-size);
    transform: translateY(-50%) translateX(-50%);
}

.image img {
    transform: var(--drift);
}

.image:nth-child(1) {
    z-index: 1;
    top: 100px;
    left: 80vw;
}

.image:nth-child(2) {
    top: calc(var(--y-offset) * 1);
    left: 20vw;
}

.image:nth-child(3) {
    top: calc(var(--y-offset) * 2);
    left: 0;
}

.image:nth-child(4) {
    top: calc(var(--y-offset) * 1.5);
    left: 90vw;
}

.image:nth-child(5) {
    top: calc(var(--y-offset) * 3);
    left: 75vw;
}

.image:nth-child(6) {
    top: calc(var(--y-offset) * 4);
    left: 15vw;
}

.image:nth-child(7) {
    top: calc(var(--y-offset) * 2.5);
    left: 25vw;
}

.image:nth-child(8) {
    top: calc(var(--y-offset) * 4.5);
    left: 85vw;
}

.image:nth-child(9) {
    top: calc(var(--y-offset) * 4.75);
    left: 45vw;
}