<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Henry From Online’s NYC Bucket List</title>
    <meta name="description"
        content="My current list of Things I Gotta See Before I Leave New York City for a while. Feel free to submit your recommendations!">

    <meta property="og:url" content="https://nyc.henry.codes">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Henry From Online’s NYC Bucket List">
    <meta property="og:description"
        content="My current list of Things I Gotta See Before I Leave New York City for a while. Feel free to submit your recommendations!">
    <meta property="og:image" content="https://nyc.henry.codes/img/opengraph.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="nyc.henry.codes">
    <meta property="twitter:url" content="https://nyc.henry.codes">
    <meta name="twitter:title" content="Henry From Online’s NYC Bucket List">
    <meta name="twitter:description"
        content="My current list of Things I Gotta See Before I Leave New York City for a while. Feel free to submit your recommendations!">
    <meta name="twitter:image" content="https://nyc.henry.codes/img/opengraph.png">

    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌃</text></svg>">


    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header">
        <a href="/">The NYC List</a>
        <time>SS23</time>
        <cite>A tiny website by <a href="https://henry.codes">Henry From Online</a></cite>
    </header>
    <main {% unless hasForm %}class="main-center" {% endunless %}"">
        <h1 class="title {%- unless hasForm %} title--small{% endunless %}">
            <small>Henry From Online’s</small> New York City <em>Bucket List</em>
        </h1>
        <div class="content">
            {{ content }}
        </div>
        {% if hasForm %}
        <form name="submissions" action="/thanks" class="submission">
            <label class="submission__field">
                <span class="submission__label">Come Ye Bearing NYC Suggestions?</span>
                <input class="submission__input" type="text" name="suggestion" id="suggestion" required>
            </label>
            <button class="submission__action" type="submit">Send</button>
        </form>
        <div class="images">
            <div class="image"><img alt="" src="/img/one-world-trade.jpg" /></div>
            <div class="image"><img alt="" src="/img/brooklyn-bridge.jpg" /></div>
            <div class="image"><img alt="" src="/img/central-park-fall.jpg" /></div>
            <div class="image"><img alt="" src="/img/central-park-spring.jpg" /></div>
            <div class="image"><img alt="" src="/img/east-river.jpg" /></div>
            <div class="image"><img alt="" src="/img/les.jpg" /></div>
            <div class="image"><img alt="" src="/img/six-train.jpg" /></div>
            <div class="image"><img alt="" src="/img/skyline-sunset.jpg" /></div>
            <div class="image"><img alt="" src="/img/st-thomas-church.jpg" /></div>
        </div>
        {% endif %}

    </main>
    <script src="/js/index.js"></script>
</body>

</html>